@font-face {
    src: url("balsamiqsansregular-webfont.ttf") format('truetype');
    font-family: "Balsamiq Sans";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url("balsamiqsansbold-webfont.ttf") format('truetype');
    font-family: "Balsamiq Sans";
    font-style: normal;
    font-weight: bold;
}

@font-face {
    src: url("balsamiqsansitalic-webfont.ttf") format('truetype');
    font-family: "Balsamiq Sans";
    font-style: italic;
    font-weight: normal;
}

@font-face {
    src: url("balsamiqsansbolditalic-webfont.ttf") format('truetype');
    font-family: "Balsamiq Sans";
    font-style: italic;
    font-weight: bold;
}