@font-face {
    src: url("BalsamiqSansRegular.otf") format('opentype');
    font-family: "Balsamiq Sans";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url("BalsamiqSansBold.otf") format('opentype');
    font-family: "Balsamiq Sans";
    font-style: normal;
    font-weight: bold;
}

@font-face {
    src: url("BalsamiqSansItalic.otf") format('opentype');
    font-family: "Balsamiq Sans";
    font-style: italic;
    font-weight: normal;
}

@font-face {
    src: url("BalsamiqSansBoldItalic.otf") format('opentype');
    font-family: "Balsamiq Sans";
    font-style: italic;
    font-weight: bold;
}